{% extends "dashboard/base.html" %}
{% block content %}
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            DataTable Example
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Authors</th>
                            <th>Category</th>
                            <th>Expense</th>
                        </tr>
                    </thead>
                    {% for book in books %}
                    <tbody>
                            <tr>
                                <td>{{book.title}}</td>
                                <td>{{book.authors}}</td>
                                <td>{{book.category}}</td>
                                <td>{{book.distribution_expense}}</td>
                            </tr>
                    {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}